# PHPUnit / Pest
.phpunit.result.cache
phpunit.xml

# Workerman Log
workerman.log
workerman.server.php.pid
vendor/workerman/workerman.log

# Vendor files
vendor/*
composer.lock

# Data files
data/*
!data/.gitignore
phpstan.neon
